@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 100;
	src: local('Raleway Thin'), local('Raleway-Thin'), url(Raleway-Thin.woff2) format('woff2'), url(Raleway-Thin.woff) format('woff');
}
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 200;
	src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url(Raleway-ExtraLight.woff2) format('woff2'), url(Raleway-ExtraLight.woff) format('woff');
}
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 300;
	src: local('Raleway Light'), local('Raleway-Light'), url(Raleway-Light.woff2) format('woff2'), url(Raleway-Light.woff) format('woff');
}
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	src: local('Raleway'), url(Raleway-400.woff) format('woff2'), url(Raleway-400.woff) format('woff');
}
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 500;
	src: local('Raleway Medium'), local('Raleway-Medium'), url(Raleway-Medium.woff2) format('woff2'), url(Raleway-Medium.woff) format('woff');
}
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 600;
	src: local('Raleway SemiBold'), local('Raleway-SemiBold'), url(Raleway-600.woff2) format('woff2'), url(Raleway-600.woff) format('woff');
}
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	src: local('Raleway Bold'), local('Raleway-Bold'), url(Raleway-Bold.woff2) format('woff2'), url(Raleway-Bold.woff) format('woff');
}
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 800;
	src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'), url(Raleway-ExtraBold.woff2) format('woff2'), url(Raleway-ExtraBold.woff) format('woff');
}
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 900;
	src: local('Raleway Heavy'), local('Raleway-Heavy'), url(Raleway-Heavy.woff2) format('woff2'), url(Raleway-Heavy.woff) format('woff');
}
